<!DOCTYPE html>
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
    
<!-- Mirrored from demo.deviserweb.com/cv/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 30 Apr 2021 06:05:51 GMT -->
<head>
        <meta charset="utf-8">
        
        <!-- TITLE OF SITE-->
        <title> Facilty Profile </title>
        
        <!-- META TAG -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="CV, Portfolio, Resume">
        <meta name="author" content="Md. Siful Islam, Desiver Web">
        
        <!-- FAVICON -->
        <link rel="icon" href="assets/images/favicon.ico">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/images/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="assets/images/apple-icon-76x76.html">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/images/apple-icon-114x114.png">

        <!-- ========================================
                Stylesheets
        ==========================================--> 
        
        <!-- MATERIALIZE CORE CSS -->
        <link href="assets/css/materialize.min.css" rel="stylesheet">
        

        <!-- ADDITIONAL CSS -->
        <link rel="stylesheet" href="assets/css/animate.css">
        

        <!-- FONTS -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,400italic,700italic' rel='stylesheet' type='text/css'>
        

        <!--FONTAWESOME CSS-->
        <link href="assets/icons/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> 
        

        <!-- CUSTOM STYLE -->
        <link href="assets/css/style.css" rel="stylesheet">
        

        <!-- RESPONSIVE CSS-->
        <link href="assets/css/responsive.css" rel="stylesheet">

        <!-- COLORS -->        
        <link rel="alternate stylesheet" href="assets/css/colors/red.css" title="red">
        <link rel="alternate stylesheet" href="assets/css/colors/purple.css" title="purple">
        <link rel="alternate stylesheet" href="assets/css/colors/orange.css" title="orange">
        <link rel="alternate stylesheet" href="assets/css/colors/green.css" title="green">
        <link rel="stylesheet" href="assets/css/colors/lime.css" title="lime">

        
        <!-- STYLE SWITCH STYLESHEET ONLY FOR DEMO -->
        <link rel="stylesheet" href="assets/css/demo.css">
        
        <!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif] -->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <!-- CSS only -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    
</head>
    <body>
        
        <!-- Start Container-->
        <div class="container">
            <!-- row -->
            <div class="row">
            <!-- =========================================
                           SIDEBAR   
            ==========================================-->
                <!-- Start Sidebar -->
                <aside class="col l4 m12 s12 sidebar z-depth-1" id="sidebar">
                    <!--  Sidebar row -->
                    <div class="row">                      
                        <!--  top section   -->
                        <div class="heading">                            
                            <!-- ====================
                                      IMAGE   
                            ==========================-->
                            <div class="feature-img">
                                <a href="index-2.html"><img src="assets/images/profile-img.jpg" class="responsive-img" alt=""></a> 
                            </div>                            
                            <!-- =========================================
                                       NAVIGATION   
                            ==========================================-->
                            <div class=" nav-icon">
                                <nav>
                                    <div class="nav-wrapper">
                                      <ul id="nav-mobile" class="side-nav">                                  
                                        <li><a href="/back">Back</a></li>
                                        <li><a href="/home">Logout</a></li>
                                      </ul>
                                      <a href="#" data-activates="nav-mobile" class="button-collapse  "><i class="mdi-navigation-menu"></i></a>
                                    </div>
                                </nav>
                            </div>                            
                            <!-- ========================================
                                       NAME AND TAGLINE
                            ==========================================-->
                            <div class="title col s12 m12 l9 right  wow fadeIn" data-wow-delay="0.1s">   
                                <h2><%=fullName%></h2> <!-- title name -->
                                <span><%=department%></span>  <!-- tagline -->
                            </div>                         
                        </div>
                         <!-- sidebar info -->
                        <div class="col l12 m12 s12 sort-info sidebar-item">
                            <div class="row">                               
                                <div class="col m12 s12 l3 icon"> <!-- icon -->
                                   <i class="fa fa-user"></i>
                                </div>                                
                                <div class="col m12 s12 l9 info wow fadeIn a1" data-wow-delay="0.1s" > <!-- text -->
                                    <div class="section-item-details">
                                        <% if(background){%>
                                            <p><%=background.background%></p>
                                        <% } %>
                                    </div>             
                                    <form action="/updateBackground" method="post" class="form-inline">
                                        <div class="form-group mx-sm-3 mb-2">
                                          <input type="text" name="background" class="form-control" id="inputPassword2" placeholder="About Me">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-sm mb-2"><i class="fas fa-edit"></i></button>
                                    </form>
                                </div>
                            </div>         
                        </div>
                        <!--  EMAIL -->
                        <div class="col l12 m12 s12  email sidebar-item ">
                            <div class="row">                                
                                <div class="col m12 s12 l3 icon">
                                    <i class="fa fa-envelope"></i> <!-- icon -->
                                </div>                                
                                <div class="col m12 s12 l9 info wow fadeIn a3" data-wow-delay="0.3s">
                                    <div class="section-item-details">
                                        <div class="work">                                 
                                            <h4><a href="mailto:someone@example.com"><%=emailId%></a></h4> <!-- Email -->
                                            <span>work</span> <br>
                                        </div>
                                    </div>
                                </div> 
                            </div>          
                        </div>
                        <!-- SKILLS -->
                        <div class="col l12 m12 s12  skills sidebar-item" >
                            <div class="row">
                                <div class="col m12 l3 s12 icon">
                                    <i class="fa fa-calendar-o"></i> <!-- icon -->
                                </div>
                                 <!-- Skills -->
                                <div class="col m12 l9 s12 skill-line a5 wow fadeIn" data-wow-delay="0.5s">
                                    <h3>Research Topics</h3>
                                    <% if(researchTopics){ %>
                                    <form action="/delTopics" method="post">
                                        <% researchTopics.researchTopics.forEach(function(topics){ %>
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td><%=topics%></td>
                                                        <td><button class="btn btn-primary" type="submit" name="topics" value="<%=topics%>"><i class="far fa-trash-alt"></i></button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        <% }) %>
                                    </form>
                                    <% }%>
                                    <form action="/updateTopics" method="post">
                                        <input type="text" name="researchTopics" placeholder="Add Research Topics">
                                        <button type="submit" class="btn btn-primary"><i class="fas fa-user-edit"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>   <!-- end row -->
                </aside><!-- end sidebar -->

                <!-- =========================================
                   Work experiences
                ==========================================-->
                <section class="col s12 m12 l8 section">
                    <div class="row">
                            
                        <!-- ========================================
                         Education 
                        ==========================================-->

                        <div class="section-wrapper z-depth-1">
                            <div class="section-icon col s12 m12 l2">
                                <i class="fa fa-graduation-cap"></i>
                            </div>
                            <div class="custom-content col s12 m12 l10 wow fadeIn a1">
                                <h2>Education </h2>
                                <% education.forEach(function(edu){ %>
                                <form action="/delete" method="post">
                                    <div class="custom-content-wrapper wow fadeIn a2">
                                        <h3><span><%=edu.instituteName%></span></h3>
                                        <span><%=edu.startYear%>-<%=edu.endYear%> </span>
                                        <p><%=edu.briefOverview%></p>
                                        <button class="btn btn-danger btn-sm" name="id" type="submit" value="<%=edu._id%>"><i class="far fa-trash-alt"></i></button>
                                    </div>    
                                </form>
                                <%  }); %>
                                <div class="custom-content-wrapper wow fadeIn a4">
                                    <form action="/updateEducation" method="post" class="form-inline">
                                        <div class="form-group mx-sm-3 mb-2">
                                          <h3>Update Education</h3>
                                          <input type="text" name="instituteName" class="form-control" id="inputPassword2" placeholder="Institute Name">
                                          <h3>Start Date</h3>
                                          <input type="number" name="startYear">
                                          <h3>End Date</h3>
                                          <input type="number" name="endYear">
                                          <input type="text" name="briefOverview" placeholder="Brief Overview">
                                        </div>
                                        <button type="submit" class="btn btn-primary mb-2"><i class="fas fa-user-edit"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- ========================================
                            Courses Taught 
                        ==========================================-->

                        <div class="section-wrapper z-depth-1">
                            <div class="section-icon col s12 m12 l2">
                                <i class="fa fa-graduation-cap"></i>
                            </div>
                            <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s" >
                                <h2>Courses Taught </h2>
                                <% course.forEach(function(crs){ %>
                                <form action="/delete" method="post">     
                                    <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s" >
                                        <h3><span><%=crs.courseName%></span></h3>
                                        <span><%=crs.courseId%></span>
                                        <p><%=crs.courseInfo%></p>
                                        <button class="btn btn-danger" name="id" type="submit" value="<%=crs._id%>"><i class="far fa-trash-alt"></i></button>
                                    </div>
                                </form>
                                <%  }); %> 
                                <div class="custom-content-wrapper wow fadeIn a4" data-wow-delay="0.4s">
                                    <form action="/updateCourse" method="post" class="form-inline">
                                        <div class="form-group mx-sm-3 mb-2">
                                          <h3>Update Courses Taught</h3>
                                          <input type="text" name="courseName" class="form-control" id="inputPassword2" placeholder="Course Name">
                                          <input type="text" name="courseId" placeholder="Course Id">
                                          <input type="text" name="courseInfo" placeholder="Course Info">
                                        </div>
                                        <button type="submit" class="btn btn-primary mb-2"><i class="fas fa-user-edit"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>


                        <!-- ========================================
                            Publication List 
                        ==========================================-->

                        <div class="section-wrapper z-depth-1">
                            <div class="section-icon col s12 m12 l2">
                                <i class="fa fa-graduation-cap"></i>
                            </div>
                            <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s" >
                                <h2>Publication List</h2>
                                <% publication.forEach(function(pub){ %>
                                <form action="/delete" method="post">    
                                    <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s" >
                                        <h3><span><%=pub.publicationTitle%></span></h3>
                                        <span><%=pub.publicationYear%></span>
                                        <p><%=pub.publicationInfo%></p>
                                        <button class="btn btn-danger" name="id" type="submit" value="<%=pub._id%>"><i class="far fa-trash-alt"></i></button>
                                    </div>
                                </form>    
                                <%  }); %>
                                <div class="custom-content-wrapper wow fadeIn a4" data-wow-delay="0.4s">
                                    <form action="/updatePublication" method="post" class="form-inline">
                                        <div class="form-group mx-sm-3 mb-2">
                                          <h3>Update Publication</h3>
                                          <input type="text" name="publicationTitle" class="form-control" id="inputPassword2" placeholder="Publication Title">
                                          <h3>Publication Date</h3>
                                          <input type="number" name="publicationYear">
                                          <input type="text" name="publicationInfo" placeholder="Brief Overview">
                                        </div>
                                        <button type="submit" class="btn btn-primary mb-2"><i class="fas fa-user-edit"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    

 <!--=====================
                JavaScript
        ===================== -->
        <!-- Jquery core js-->
        <script src="assets/js/jquery.min.js"></script>
        
        <!-- materialize js-->
        <script src="assets/js/materialize.min.js"></script>
        
        <!-- wow js-->
        <script src="assets/js/wow.min.js"></script>
        
        <!-- Map api -->
        <script src="http://maps.googleapis.com/maps/api/js?v=3.exp"></script>
        
        <!-- Masonry js-->
        <script src="assets/js/masonry.pkgd.js"></script>

        <script src="assets/js/validator.min.js"></script>
        
        <!-- Customized js -->
        <script src="assets/js/init.js"></script>
    
        <!-- =========================================================
            STYLE SWITCHER | ONLY FOR DEMO NOT INCLUDED IN MAIN FILES
        ===========================================================-->
        
        <!-- Style switter js -->
        <script src="assets/js/styleswitcher.js"></script>
        
        <div class="cv-style-switch" id="switch-style">
            <a id="toggle-switcher" class="switch-button icon_tools"> <i class="fa fa-cogs"></i></a>
            <div class="switched-options">                
                <div class="config-title">
                    Colors :
                </div>
                <ul class="styles">
                    <li><a href="index-2.html#" onclick="setActiveStyleSheet('red'); return false;" title="Red">
                    <div class="red"></div>
                    </a></li>                    
                    
                    <li><a href="index-2.html#" onclick="setActiveStyleSheet('purple'); return false;" title="purple">
                    <div class="purple"></div>
                    </a></li>

                    <li><a href="index-2.html#" onclick="setActiveStyleSheet('orange'); return false;" title="orange">
                    <div class="orange"></div>
                    </a></li>
                    
                    <li><a href="index-2.html#" onclick="setActiveStyleSheet('green'); return false;" title="green">
                    <div class="green"></div>
                    </a></li>
                    
                    <li><a href="index-2.html#" onclick="setActiveStyleSheet('lime'); return false;" title="lime">
                    <div class="lime"></div>
                    </a></li>

                    <li class="p">
                        ( NOTE: Pre Defined Colors. You can change colors very easily )
                    </li>
                </ul>
            </div>
        </div>

    </body>

<!-- Mirrored from demo.deviserweb.com/cv/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 30 Apr 2021 06:05:51 GMT -->
</html>
